# Introducción - Programación en Python


<img src="https://github.com/ccdonoso/Intro2_Computational_Mechanics/blob/master/img/logo_usach_dimec.png?raw=true" alt="logo" width="300"/>

- Autor: Claudio Canales Donoso
- Página: [ccdonoso.github.io](https://ccdonoso.github.io/)
- Cursos: Mecánica Computacional - Diseño Computarizado
- Universidad de Santiago de Chile
- Fecha: 05/03/24

License: BSD 3 clause

**Contenido** : Introducción a Python
- Variables
- Listas
- Tuplas
- Slicing
- Ciclos For - If - While
- Suma de los $n$ Enteros y Serie de Fibonacci

**Desarrollar este Notebook en Clase y en Conjunto**

## Variables 

   Es un espacio reservado de memoria que tiene la capacidad de cambiar de valor mientras se desarrolla la ejecución del programa y se le asigna un <b> nombre </b>.

In [44]:
integer = 101
logical = True
string = 'Hola!'
flotante = 101.
complejo = 1.1 + 3.2j

In [45]:
print(integer,logical,string,flotante,complejo)
print("Hola")

101 True Hola! 101.0 (1.1+3.2j)
Hola

In [46]:
print(type(integer))
print(type(logical))
print(type(string))
print(type(flotante))
print(type(complejo))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'complex'>

## Operadores aritméticos


   | Caracter | Operación |
   |----|---|
   | $+$  | Suma |
   | $-$  | Resta |
   | /  | division |
   | %  | módulo |
   | *  | multiplicación |
   | //  | Divisón floor |
   | **  | Elevado a la potencia |

In [47]:
uno = 1

In [48]:
uno == 1

True

In [49]:
uno < 1

False

In [50]:
print(2**3,8%3,13//3)

8 2 4

## Operadores Lógicos 

   | Caracter | Operación |
   |----|---|
   | and | AND |
   | or  | OR |
   | ^  | XOR |
   | ~ | Negación |

In [51]:
5 > 4 or 6 < 2

True

## Range 

Crea una lista de <b> enteros </b> entre cierto rango definido por un intervalo

In [52]:
rango = range(2,9,2) # {2,4,6,8}
range2 = range(3) # {0,1,2}
print(type(rango))

<class 'range'>

## Print 

```print()``` Imprime por pantalla diferentes textos

In [53]:
#Concatenación
text1 = "Hola \n"
text2 = "Mundo!"
print(text1+text2)
pi = 3.14159265
numero = 12
print("El valor de PI es:{} y el valor del numero es {}".format(pi,numero))

Hola
Mundo!
El valor de PI es:3.14159265 y el valor del numero es 12

## Estructura de Datos Básicas en Python

Es una forma de ordenar y agrupar particulares estructuras de información

### Listas

Listas son uno de las estructuras de datos más usadas. Es una secuencia de información ordenada que se encuentra entre brackets y separado por una coma. Cada uno de estos elementos en las listas son accesibles por un índice.

Para crear una lista vacia , solo es necesario definir una variable y inicializar 

```mi_lista = []```

In [54]:
mi_lista = []
type(mi_lista)

list

Es posible asignar de forma directa una lista

In [55]:
mi_lista1 = ["naranja","papa",12.42]

In [56]:
print(mi_lista1)

['naranja', 'papa', 12.42]

#### Indexing

Los índices en Python comienzan en cero. "mi_lista1" tiene 3 elements "0" -> "naranja", "1" -> "papa" , "2" -> 12.42

In [57]:
mi_lista1[2]

12.42

El índice puede ser ordenado dde forma inversa. "-3" -> "naranja", "-2" -> "papa" , "-1" -> 12.42

In [58]:
mi_lista1[-1]

12.42

Podemos tambien hacer lista en listas, a continuación se ilustra

In [59]:
mi_lista2 = [False , 1+2j, "Hola"]

In [60]:
lista_lista = [mi_lista1,mi_lista2]
print(lista_lista)

[['naranja', 'papa', 12.42], [False, (1+2j), 'Hola']]

In [61]:
lista_lista[0][1]

'papa'

Acceder a un elemento de una lista dentro de otra lista

#### Slicing

Al utiliar los indíces es posible acceder a solo un valor, en cambio utilizando slicing es posible obtener una lista de una lista utilizando la siguiente notación : [a,b] donde a y b son enteros y definen un intervalo de valores

In [62]:
num = [2,5,7,11,331,52,65,73,82,91]
    #  0 1 2 3 4 ...            9

In [63]:

print(num[2:7:3])

[7, 52]

#### Métodos (funciones) de las listas

Para encontrar la longitud de la lista o el número de elementos de una lista, se utiliza len( ).

In [64]:
len(num)

10

Si la lista está formada por todos los elementos enteros, entonces min( ) y max( ) dan el valor mínimo y máximo de la lista.

In [65]:
min(num)

2

In [66]:
max(num)

331

Las listas se pueden concatenar añadiendo, '+' a las mismas. La lista resultante contendrá todos los elementos de las listas que se añadieron. La lista resultante no será una lista anidada.

In [67]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

Puede surgir un requisito en el que necesite comprobar si un elemento concreto está en una lista predefinida. Considere la siguiente lista.

In [68]:
nombres = ["bastian","franco","ignacio"]

Para comprobar si 'Fire' y 'Rajath' están presentes en los nombres de la lista. Un enfoque convencional sería utilizar un bucle for e iterar sobre la lista y utilizar la condición if. Pero en python puedes usar el concepto 'a in b' que devolvería 'True' si a está presente en b y 'False' si no.

In [69]:
"bastian" in nombres

True

In [70]:
"Rajath" in nombres

False

#### append
append( ) se utiliza para añadir un elemento al final de la lista.

In [71]:
lst = [1,1,4,8,7]

In [72]:
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

La función append( ) también puede utilizarse para añadir una lista completa al final. Observe que la lista resultante se convierte en una lista anidada.

In [73]:
lst1 = [5,4,2,8]
lst.append(lst1) #nombre_lista.append() 
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

#### extend
Pero si la lista anidada no es lo que se desea, se puede utilizar la función **extend( )**.

In [74]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8]

#### index()
index( ) se utiliza para encontrar el valor del índice de un elemento concreto. Tenga en cuenta que si hay varios elementos con el mismo valor, se devuelve el primer valor de índice de ese elemento.

In [75]:
lst.index(4)

2

#### insert(x,y)

index( ) se utiliza para encontrar el valor del índice de un elemento concreto. Tenga en cuenta que si hay varios elementos con el mismo valor, se devuelve el primer valor de índice de ese elemento.

In [76]:
lst.insert(5, 'nombre')
print(lst)

[1, 1, 4, 8, 7, 'nombre', 1, [5, 4, 2, 8], 5, 4, 2, 8]

insert(x,y) inserta pero no reemplaza el elemento. Si quieres reemplazar el elemento con otro elemento simplemente asigna el valor a ese índice en particular

In [77]:
lst[5] = "Python"
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8]

#### pop

pop( ) se utiliza para eliminar un elemento basándose en su valor de índice, que puede asignarse a una variable. También se puede eliminar un elemento especificando el propio elemento mediante la función remove( ).

In [78]:
lst.pop()

8

Se puede especificar el valor del índice para que aparezca un elemento ceratin correspondiente a ese valor del índice.

In [79]:
lst.pop(0)

1

#### Remove

pop( ) se utiliza para eliminar un elemento basándose en su valor de índice, que puede asignarse a una variable. También se puede eliminar un elemento especificando el propio elemento mediante la función remove( ).

In [80]:
lst.remove("Python")
print(lst)

[1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

In [81]:
del lst[5]
print(lst)

[1, 4, 8, 7, 1, 5, 4, 2]

#### Sorting

In [82]:
lst.sort()
print(lst)

[1, 1, 2, 4, 4, 5, 7, 8]

In [83]:
lst.sort(reverse=True)
print(lst)

[8, 7, 5, 4, 4, 2, 1, 1]

#### Copiando una lista

**La mayoría de los nuevos programadores de python cometen este error. Considere lo siguiente***

In [92]:
lista = [2,1,4,3]

In [93]:
listab = lista
print(listab)

[2, 1, 4, 3]

Aquí, hemos declarado una lista, lista = [2,1,4,3]. Esta lista se copia a listab asignándole su valor y se copia como se ve. Ahora realizamos algunas operaciones aleatorias sobre lista.

In [86]:
lista.pop()
lista.append(9)
print(lista)

[2, 1, 4, 9]

In [87]:
a = 3

b = a

print(id(a),id(b))

140688004661552 140688004661552

Como Solucionarlo?

lista = [2,1,4,3]
listb = lista[:]
print(listb)
lista.pop()
print(lista)
lista.append(9)
print(lista)

**Opción 2**

### Tuplas

Las tuplas son similares a las listas, pero la única gran diferencia es que los elementos de una lista pueden cambiarse, pero en las tuplas no. Piensa en las tuplas como algo que tiene que ser True para algo en particular y no puede ser True para ningún otro valor.

In [88]:
tupla = tuple(["hola","Mundo",pi])
tupla

('hola', 'Mundo', 3.14159265)

In [89]:
print(tupla)

('hola', 'Mundo', 3.14159265)

In [90]:
type(tupla)

tuple

## Estructuras de Control

### if

In [ ]:
x = 9
if x > 10:
    print("Hola")

### If-else

In [ ]:
x = 9
if x > 10:
    print("If")
else:
    print("else")

else

### if-elif

In [ ]:
x = 10
y = 10
if x > y:
    print("x>y")
elif x < y:
    print("x < y")
else:
    print("x=y")

x=y

In [ ]:
x = 10
y = 11
if x < y:
    print("x>y")
elif x < y:
    print("x < y")
    if x==10:
        print("x=10")
else:
    print("x=y")

x>y

### For

In [ ]:
for i in range(5): #[0,1,2,3,4]
    print(i)

0
1
2
3
4

In [ ]:
colores = ["azul","rojo","morado","verde"]

for color in colores:
    print(color)

azul
rojo
morado
verde

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

for i in list_of_lists:
    for j in i:
        print(i,j)

[1, 2, 3] 1
[1, 2, 3] 2
[1, 2, 3] 3
[4, 5, 6] 4
[4, 5, 6] 5
[4, 5, 6] 6
[7, 8, 9] 7
[7, 8, 9] 8
[7, 8, 9] 9

### while

In [94]:
i = 1
while i<3:
    print(i)
    i = i + 1
print("termino")

1
2
termino

### Break

In [ ]:
for i in range(100):
    print(i)
    if i>=7:
        break
print("Hola")

0
1
2
3
4
5
6
7
Hola

### Continue

In [ ]:
for i in range(10):
    if i>4:
        print("i>4")
        continue
        print("No me voy a ejecutar nunca")
    elif i<7:
        print(i)
    print("----")

0
----
1
----
2
----
3
----
4
----
i>4
i>4
i>4
i>4
i>4

In [ ]:
[27*z for i in range(50) if i==27 for z in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

## Problema: Sumatoria de los 100 primeros enteros

$$\sum_i^{n} i=\frac{n(n+1)}{2}$$

In [ ]:
suma=0 
for i in range(0,101): 
    suma = suma + i
    
print("Sumatoria:{} y resultado analitico:{}".format(suma)

5050

## Problema: Serie de Fibonacci

$$f_0 = 0$$ 
$$f_1 = 1 $$
$$f_n = f_{n-1} + f_{n-2}$$

In [ ]:
a0 = 0
a1 = 1
n = 100
for i in range(n):
    an = a0+a1
    a0 = a1
    a1 = an
    print("El valor {} de la Serie de Fibonacci es:{}".format(i,an))

El valor 0 de la Serie de Fibonacci es:1
El valor 1 de la Serie de Fibonacci es:2
El valor 2 de la Serie de Fibonacci es:3
El valor 3 de la Serie de Fibonacci es:5
El valor 4 de la Serie de Fibonacci es:8
El valor 5 de la Serie de Fibonacci es:13
El valor 6 de la Serie de Fibonacci es:21
El valor 7 de la Serie de Fibonacci es:34
El valor 8 de la Serie de Fibonacci es:55
El valor 9 de la Serie de Fibonacci es:89
El valor 10 de la Serie de Fibonacci es:144
El valor 11 de la Serie de Fibonacci es:233
El valor 12 de la Serie de Fibonacci es:377
El valor 13 de la Serie de Fibonacci es:610
El valor 14 de la Serie de Fibonacci es:987
El valor 15 de la Serie de Fibonacci es:1597
El valor 16 de la Serie de Fibonacci es:2584
El valor 17 de la Serie de Fibonacci es:4181
El valor 18 de la Serie de Fibonacci es:6765
El valor 19 de la Serie de Fibonacci es:10946
El valor 20 de la Serie de Fibonacci es:17711
El valor 21 de la Serie de Fibonacci es:28657
El valor 22 de la Serie de Fibonacci es:46368
El valor 23 de la Serie de Fibonacci es:75025
El valor 24 de la Serie de Fibonacci es:121393
El valor 25 de la Serie de Fibonacci es:196418
El valor 26 de la Serie de Fibonacci es:317811
El valor 27 de la Serie de Fibonacci es:514229
El valor 28 de la Serie de Fibonacci es:832040
El valor 29 de la Serie de Fibonacci es:1346269
El valor 30 de la Serie de Fibonacci es:2178309
El valor 31 de la Serie de Fibonacci es:3524578
El valor 32 de la Serie de Fibonacci es:5702887
El valor 33 de la Serie de Fibonacci es:9227465
El valor 34 de la Serie de Fibonacci es:14930352
El valor 35 de la Serie de Fibonacci es:24157817
El valor 36 de la Serie de Fibonacci es:39088169
El valor 37 de la Serie de Fibonacci es:63245986
El valor 38 de la Serie de Fibonacci es:102334155
El valor 39 de la Serie de Fibonacci es:165580141
El valor 40 de la Serie de Fibonacci es:267914296
El valor 41 de la Serie de Fibonacci es:433494437
El valor 42 de la Serie de Fibonacci es:701408733
El valor 43 de la Serie de Fibonacci es:1134903170
El valor 44 de la Serie de Fibonacci es:1836311903
El valor 45 de la Serie de Fibonacci es:2971215073
El valor 46 de la Serie de Fibonacci es:4807526976
El valor 47 de la Serie de Fibonacci es:7778742049
El valor 48 de la Serie de Fibonacci es:12586269025
El valor 49 de la Serie de Fibonacci es:20365011074
El valor 50 de la Serie de Fibonacci es:32951280099
El valor 51 de la Serie de Fibonacci es:53316291173
El valor 52 de la Serie de Fibonacci es:86267571272
El valor 53 de la Serie de Fibonacci es:139583862445
El valor 54 de la Serie de Fibonacci es:225851433717
El valor 55 de la Serie de Fibonacci es:365435296162
El valor 56 de la Serie de Fibonacci es:591286729879
El valor 57 de la Serie de Fibonacci es:956722026041
El valor 58 de la Serie de Fibonacci es:1548008755920
El valor 59 de la Serie de Fibonacci es:2504730781961
El valor 60 de la Serie de Fibonacci es:4052739537881
El valor 61 de la Serie de Fibonacci es:6557470319842
El valor 62 de la Serie de Fibonacci es:10610209857723
El valor 63 de la Serie de Fibonacci es:17167680177565
El valor 64 de la Serie de Fibonacci es:27777890035288
El valor 65 de la Serie de Fibonacci es:44945570212853
El valor 66 de la Serie de Fibonacci es:72723460248141
El valor 67 de la Serie de Fibonacci es:117669030460994
El valor 68 de la Serie de Fibonacci es:190392490709135
El valor 69 de la Serie de Fibonacci es:308061521170129
El valor 70 de la Serie de Fibonacci es:498454011879264
El valor 71 de la Serie de Fibonacci es:806515533049393
El valor 72 de la Serie de Fibonacci es:1304969544928657
El valor 73 de la Serie de Fibonacci es:2111485077978050
El valor 74 de la Serie de Fibonacci es:3416454622906707
El valor 75 de la Serie de Fibonacci es:5527939700884757
El valor 76 de la Serie de Fibonacci es:8944394323791464
El valor 77 de la Serie de Fibonacci es:14472334024676221
El valor 78 de la Serie de Fibonacci es:23416728348467685
El valor 79 de la Serie de Fibonacci es:37889062373143906
El valor 80 de la Serie de Fibonacci es:61305790721611591
El valor 81 de la Serie de Fibonacci es:99194853094755497
El valor 82 de la Serie de Fibonacci es:160500643816367088
El valor 83 de la Serie de Fibonacci es:259695496911122585
El valor 84 de la Serie de Fibonacci es:420196140727489673
El valor 85 de la Serie de Fibonacci es:679891637638612258
El valor 86 de la Serie de Fibonacci es:1100087778366101931
El valor 87 de la Serie de Fibonacci es:1779979416004714189
El valor 88 de la Serie de Fibonacci es:2880067194370816120
El valor 89 de la Serie de Fibonacci es:4660046610375530309
El valor 90 de la Serie de Fibonacci es:7540113804746346429
El valor 91 de la Serie de Fibonacci es:12200160415121876738
El valor 92 de la Serie de Fibonacci es:19740274219868223167
El valor 93 de la Serie de Fibonacci es:31940434634990099905
El valor 94 de la Serie de Fibonacci es:51680708854858323072
El valor 95 de la Serie de Fibonacci es:83621143489848422977
El valor 96 de la Serie de Fibonacci es:135301852344706746049
El valor 97 de la Serie de Fibonacci es:218922995834555169026
El valor 98 de la Serie de Fibonacci es:354224848179261915075
El valor 99 de la Serie de Fibonacci es:573147844013817084101